# Core libraries
numpy
pandas
matplotlib
seaborn
scikit-learn

# Optional but useful
plotly
xgboost
lightgbm

# Development and notebook environment
jupyter
ipykernel

# For report generation or visualization exports
openpyxl
nltk
imbalanced-learn
shap
joblib
